<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <title>添加学生</title>
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="col-lg-4 col-lg-offset-4  col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 container col-center-block">
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">添加学生</h4>
        </div>
        <div>
            <form th:action="@{/studentinfo}" method="post" th:object="${student}" style="align-content: center">
                <div>
                    <input type="hidden" th:field="*{uid}">
                    <input type="hidden" th:field="*{password}">
                    <hr>
                    <div class="form-group">
                        <label>学号</label>
                        <input type="text" class="form-control" th:field="*{account}"  placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" th:field="*{name}"  placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label class="control-label">性别</label>
                        <input type="text" id="Gender" class="form-control" th:field="*{grander}"}>
                    </div>
                    <div class="form-group">
                        <label class="control-label">专业</label>
                        <select class="form-control" th:field="*{major}" οnfοcus="this.defaultIndex=this.selectedIndex;" οnchange="this.selectedIndex=this.defaultIndex;">
                            <option th:each="para:${major}" th:value="${para.getPara_code()}" th:text="${para.getPara_value()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">邮箱</label>
                        <input type="text" id="Email" class="form-control" th:field="*{email}"}>
                    </div>
                    <div class="form-group">
                        <label class="control-label">手机</label>
                        <input type="text" id="Mobile" class="form-control" th:field="*{mobile}"}>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" th:unless="${#strings.isEmpty(success)}">
        <p class="alert alert-success" th:text="${success}"></p>
    </div>
    <div class="row" th:unless="${#strings.isEmpty(fail)}">
        <p class="alert alert-danger" th:text="${fail}"></p>
    </div>
</div>
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
</body>
</html>