<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">答辩管理</h4>
                    <h6 class="card-subtitle">在此页面查看您指导的学生，并对其进行相关管理.</h6>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>学生学号</th>
                                <th>学生姓名</th>
                                <th>所选论题</th>
                                <th>指导教师</th>
                                <th>答辩成绩</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="defence: ${defenceList}">
                                <td th:text="${defence.studentAccount}"></td>
                                <td th:text="${defence.studentName}"></td>
                                <td th:text="${defence.topicName}"></td>
                                <td th:text="${defence.teacherName}"></td>
                                <td th:text="${defence.result}"></td>
                                <td><a class="btn btn-sm round btn-outline-success" th:href="@{|/defenceinfo/${defence.getTopicId()}|}">成绩修改</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>

<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
<script th:src="@{/js/lib/datatables/datatables-init.js}"></script>
</body>
</html>