<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="header-fix fix-sidebar">
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>注册</h4>
                                <form th:action="@{/regist}" th:object="${user}" method="POST">
                                    <div class="form-group">
                                        <label>用户名</label>
                                        <input  class="form-control" th:field="*{account}" placeholder="请输入用户名">
                                    </div>
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input  class="form-control" th:field="*{name}" placeholder="请输入姓名">
                                    </div>
                                    <div class="form-group">
                                        <label>性别</label>
                                        <select class="form-control" th:field="*{grander}">
                                            <option th:value="${'男'}" th:text="${'男'}"></option>
                                            <option th:value="${'女'}" th:text="${'女'}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>专业</label>
                                        <select class="form-control" th:field="*{major}" οnfοcus="this.defaultIndex=this.selectedIndex;" οnchange="this.selectedIndex=this.defaultIndex;">
                                            <option th:each="para:${major}" th:value="${para.getPara_code()}" th:text="${para.getPara_value()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="password" id="pwd" class="form-control" placeholder="请输入密码">
                                    </div>
                                    <div class="form-group">
                                        <label>重复密码</label>
                                        <input type="password" id="pwd1" class="form-control" th:field="*{password}" placeholder="请输入密码">
                                    </div>
                                    <button id="sub" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">注册</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>已有账号 <a th:href="@{login}">现在登录</a></p>
                                    </div>
                                </form>
                                <div class="row" th:unless="${#strings.isEmpty(ok)}">
                                    <p class="alert alert-success" th:text="${ok}"></p>
                                </div>
                                <div class="row" th:unless="${#strings.isEmpty(error)}">
                                    <p class="alert alert-danger" th:text="${error}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script>
        $(function(){

            $("#sub").click(function(){

                var pwd = $("#pwd").val();
                var cpwd = $("#pwd1").val();
                if(pwd != cpwd){
                    alert("两次密码不一致!");
                    $("#pwd").val("");
                    $("#pwd1").val("");
                    return false;
                }
            });
        });
    </script>
</body>
</html>