<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生信息相关</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-title">
                    <h4>学生列表</h4>
                </div>
                <div class="card-body">
                    <div class="trade-history-table">
                        <div class="table-responsive">
                            <table class="table table-xs">
                                <thead>
                                    <tr>
                                        <th>学号</th>
                                        <th>姓名</th>
                                        <th>论文选题状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="guideTeacher: ${guideTeacherList}">
                                        <!-- 以选题学生用绿色显示class：text-success，未选题用红色显示class：text-danger -->
                                        <td class="text-success" th:if="${guideTeacher.getStatus() == 0}" th:text="${guideTeacher.getStudentAccount()}"></td>
                                        <td class="text-danger" th:unless="${guideTeacher.getStatus() == 0}" th:text="${guideTeacher.getStudentAccount()}"></td>
                                        <td class="text-success" th:if="${guideTeacher.getStatus() == 0}" th:text="${guideTeacher.getStudentName()}"></td>
                                        <td class="text-danger" th:unless="${guideTeacher.getStatus() == 0}" th:text="${guideTeacher.getStudentName()}"></td>
                                        <td class="text-success" th:if="${guideTeacher.getStatus() == 0}">已选题</td>
                                        <td class="text-danger" th:unless="${guideTeacher.getStatus() == 0}">未选题</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-title">
                    <h4>待审批列表</h4></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-de mb-0">
                            <thead>
                                <tr>
                                    <th>申请日期</th>
                                    <th>论题名称</th>
                                    <th>学生姓名</th>
                                    <th>指导教师</th>
                                    <th>审批状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="topicSelect: ${topicSelectList}">
                                    <td th:text="${topicSelect.getApplyTime()}"></td>
                                    <td th:text="${topicSelect.getTopicName()}"></td>
                                    <td th:text="${topicSelect.getStudentName()}"></td>
                                    <td th:text="${topicSelect.getTeacherName()}"></td>
                                    <td th:text="未审批"></td>
                                    <td>
                                        <a class="btn btn-sm round btn-outline-success" th:href="@{|/applyapproval/${topicSelect.getId()}|}">同意</a>
                                        <a class="btn btn-sm round btn-outline-danger" th:href="@{|/applyrefuse/${topicSelect.getId()}|}">拒绝</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <div class="card-title">
                    <h4>Sell Order</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-de mb-0">
                            <thead>
                            <tr>
                                <th>学号</th>
                                <th>姓名</th>
                                <th>论文选题状态</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10583.4</td>
                                    <td><i class="cc BTC"></i> 0.45000000</td>
                                    <td>$ 4762.53</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="card">
                <div class="card-title">
                    <h4>Buy Order</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-de mb-0">
                            <thead>
                            <tr>
                                <th>Price per BTC</th>
                                <th>BTC Ammount</th>
                                <th>Total($)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>10599.5</td>
                                <td><i class="cc BTC"></i> 0.02000000</td>
                                <td>$ 211.99</td>
                            </tr>
                            <tr>
                                <td>10583.5</td>
                                <td><i class="cc BTC"></i> 0.04000000</td>
                                <td>$ 423.34</td>
                            </tr>
                            <tr>
                                <td>10583.8</td>
                                <td><i class="cc BTC"></i> 0.35000000</td>
                                <td>$ 3704.33</td>
                            </tr>
                            <tr>
                                <td>10595.7</td>
                                <td><i class="cc BTC"></i> 0.30000000</td>
                                <td>$ 3178.71</td>
                            </tr>
                            <tr>
                                <td>10583.7</td>
                                <td><i class="cc BTC"></i> 0.25100000</td>
                                <td>$ 2656.51</td>
                            </tr>
                            <tr>
                                <td>10595.8</td>
                                <td><i class="cc BTC"></i> 0.29697926</td>
                                <td>$ 3146.74</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/lib/webticker/jquery.webticker.min.js}"></script>
    <script th:src="@{/js/lib/peitychart/jquery.peity.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/dashboard-1.js}"></script>
</body>
</html>