<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">教师管理</h4>
                    <h6 class="card-subtitle">在此页面管理所有所有教师</h6>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>学历</th>
                                    <th>职称</th>
                                    <th>研究方向</th>
                                    <th>学术成果</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="teacher: ${teacherList}">
                                    <td th:text="${teacher.account}"></td>
                                    <td th:text="${teacher.name}"></td>
                                    <td th:text="${teacher.grander}"></td>
                                    <td th:text="${teacher.education}"></td>
                                    <td th:text="${teacher.titles}"></td>
                                    <td th:text="${teacher.direction}"></td>
                                    <td th:text="${teacher.achievements}"></td>
                                    <td>
                                        <a class="btn btn-sm round btn-outline-danger" onClick="return confirm('确定删除此教师？');" th:href="@{|/teacherdelete/${teacher.account}|}">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" th:unless="${#strings.isEmpty(ok)}">
                        <p class="alert alert-success" th:text="${ok}"></p>
                    </div>
                    <div class="row" th:unless="${#strings.isEmpty(error)}">
                        <p class="alert alert-danger" th:text="${error}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/js/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/lib/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>

<script th:src="@{/js/lib/datatables/datatables.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js}"></script>
<script th:src="@{/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js}"></script>
<script th:src="@{/js/lib/datatables/datatables-init.js}"></script>
</body>
</html>